@import url('https://fonts.googleapis.com/css2?family=Anton&family=Berkshire+Swash&display=swap');
@font-face {
  font-family: 'Bindweed';
  src: url('Bindweed.ttf') format('truetype');
}

html { font-size: calc(60% + 0.8vmin); }

* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body { 
  height: 1400px;
  min-height: 100vh; 
  background-color: #FFB8CB;
}

p {
  font-size: 5.5rem;
  font-family: Berkshire Swash, sans-serif;
  color: white;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  border: solid white;
  border-width: 0px 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #A49472; 
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #A39371; 
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(clouds3.svg), linear-gradient(#F72D4A, #FFB8CB);
  animation: animatedBackground 20s linear infinite;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -930px 0; }
}

.brand-wrapper {
  display: flex;
}

.brand-wrapper.is-hidden {
  opacity: 0;
  overflow: hidden;
  z-index: 0;
  transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
}

.brand-name {
  width: 100%;
  height: auto;
}

.secondary-branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9000;
}

.small-brand-name {
  font-family: Bindweed, sans-serif;
  font-size: 0px;
  color: #FCB6C9;
}

.small-brand-name.is-visible {
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px #A39371;
  padding: 25px;
}

.menu-circle-wrapper {
  width: 0px;
}

.menu-circle-wrapper.is-visible {
  width: 150px;
  padding: 25px;
  margin: 0;
  justify-content: flex-end;
}

#menu-circle {
  width: 100%;
  height: auto;
}

#circle-words {
  text-align: center;
  font-family: Helvetica, sans-serif;
  font-size: 5px;
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
}

.character {
  flex: 1;  
  padding: 30px 50px;
}

.svg_wrapper {
  padding-left: 75px;
  z-index: -1;
  align-items: center;
  animation: nog_rock 6s infinite;
      -moz-animation: nog_rock 6s infinite;
      -webkit-animation: nog_rock 6s infinite;
      -o-animation: nog_rock 6s infinite;
}

@keyframes nog_rock {
      0% {transform: rotate(5deg)}
      30% {transform: rotate(-40deg)}
      50% {transform: rotate(-40deg)}
      60% {transform: rotate(5deg)}
    100% {transform: rotate(5deg)}
  }

@-webkit-keyframes nog_rock 
    {
      0% {-webkit-transform: rotate(5deg)}
      30% {-webkit-transform: rotate(-40deg)}
      50% {-webkit-transform:rotate(-40deg)}
      60% {-webkit-transform: rotate(5deg)}
    100% {-webkit-transform: rotate(5deg)}
  }

@-moz-keyframes nog_rock 
    {
      0% {-moz-transform: rotate(5deg)}
      30% {-moz-transform: rotate(-40deg)}
      50% {-moz-transform:rotate(-40deg)}
      60% {-moz-transform: rotate(5deg)}
    100% {-moz-transform: rotate(5deg)}
}

#carton {
  width: 80%;
  height: auto;
  padding: 10px;
}

#forearm, #elbow-hand {
  animation: strum 1.5s infinite;
  transform-origin: 150px;
        -moz-animation: strum 2s infinite;
        -webkit-animation: strum 2s infinite;
        -o-animation: strum 2s infinite;
}

@keyframes strum {
      0% {transform: rotate(0deg)}
      10% {transform: rotate(18deg)}
      15% {transform: rotate(0deg)}
      25% {transform: rotate(10deg)}
      50% {transform: rotate(0deg)}
    100% {transform: rotate(0deg)}
  }

@-webkit-keyframes strum
    {
       0% {webkit-transform: rotate(0deg)}
      10% {webkit-transform: rotate(18deg)}
      15% {webkit-transform: rotate(0deg)}
      25% {webkit-transform: rotate(10deg)}
      50% {webkit-transform: rotate(0deg)}
    100% {webkit-transform: rotate(0deg)}
  }

  @-moz-keyframes strum
    {
       0% {-moz-transform: rotate(0deg)}
      10% {-moz-transform: rotate(18deg)}
      15% {-moz-transform: rotate(0deg)}
      25% {-moz-transform: rotate(10deg)}
      50% {-moz-transform: rotate(0deg)}
    100% {-moz-transform: rotate(0deg)}
  }

.words {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.lyrics {
  padding: 50px;
  padding-left: 25px;
  line-height: 1;
  text-shadow: 2px 2px #796b4e;
}

.info {
  padding: 50px;
  padding-left: 25px;
  font-family: Anton, sans-serif;
  font-size: 2.25em;
  color: white;
  line-height: 1;
}

.part-2 {
  display: flex;
  flex: 1;
  padding: 25px;
  background: linear-gradient(to left, #A49472 50%, #FFEBB8 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  transition:all 2s ease;
}

.part-2:hover {
  background-position:left bottom;
}

div.slide-right {
  width: 100%;
  overflow: hidden;
}

div.slide-right p {
  color: #F6304D;
  font-family: Bindweed, sans-serif;
  font-size: 20em;
  animation: 4s slide-right;
  animation-timing-function: ease;
  text-align: right;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 100%; 
  }
  to {
    margin-left: 0;
    width: 100%;
  }
}


/* mobile */
@media (max-width: 800px) {
  .body {
    flex-direction: column;
  }

  .flex-container-2 {
    flex-direction: column;
  }

  .lyrics {
    font-size: 3.25em;
    text-align: center;
  }

  .info {
    font-size: 2.5em;
    text-align: center;
  }

}
