@import url('https://fonts.googleapis.com/css2?family=Anton&family=Berkshire+Swash&family=Oswald&display=swap');
@font-face {
  font-family: 'Bindweed';
  src: url('Bindweed.ttf') format('truetype');
}

html { font-size: calc(60% + 0.8vmin); }

* {
  font-size: 1rem;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
}

body { 
  height: 1400px;
  min-height: 100vh; 
  background-color: #FFB8CB;
  overscroll-behavior: none;
}

p {
  font-size: 1.5rem;
  font-family: Oswald, Anton, sans-serif;
  color: white;
}

/* scrollbar */
::-webkit-scrollbar {
  background: white;
  width: 18px;
}

::-webkit-scrollbar-track {
  border: solid white;
  border-width: 0px 2px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #6C6046; 
  border-radius: 5px;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url(clouds3.svg), linear-gradient(#F72D4A, #FFB8CB);
  animation: animatedBackground 20s linear infinite;
}

@keyframes animatedBackground {
  from { background-position: 0 0; }
  to { background-position: -930px 0; }
}

.brand-wrapper {
  display: flex;
}

.brand-wrapper.is-hidden {
  opacity: 0;
  overflow: hidden;
  z-index: 0;
  transition: opacity 1s ease-in-out;
   -moz-transition: opacity 1s ease-in-out;
   -webkit-transition: opacity 1s ease-in-out;
}

.brand-name {
  width: 100%;
  height: auto;
}

.secondary-branding {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 9000;
}

.small-brand-name {
  font-family: Bindweed, Anton, sans-serif;
  font-size: 0px;
  color: #FCB6C9;
}

.small-brand-name.is-visible {
  font-size: 5em;
  color: white;
  text-shadow: 2px 2px #A39371;
  padding: 25px;
  transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
}

.menu-circle-wrapper {
  width: 0px;
}

.menu-circle-wrapper.is-visible {
  width: 150px;
  padding: 25px;
  margin: 0;
  justify-content: flex-end;
}

#menu-circle {
  width: 100%;
  height: auto;
}

#circle-words {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: #A39371;
  font-size: 5px;
}

.flex-container-2 {
  display: flex;
  flex-direction: row;
}

.character {
  flex: 1;  
  padding: 30px 50px;
}

.svg_wrapper {
  padding-left: 75px;
  z-index: -1;
  align-items: center;
  animation: nog_rock 6s infinite;
      -moz-animation: nog_rock 6s infinite;
      -webkit-animation: nog_rock 6s infinite;
      -o-animation: nog_rock 6s infinite;
}

/* character rocks */

@keyframes nog_rock {
      0% {transform: rotate(5deg)}
      30% {transform: rotate(-40deg)}
      50% {transform: rotate(-40deg)}
      60% {transform: rotate(5deg)}
    100% {transform: rotate(5deg)}
  }

@-webkit-keyframes nog_rock 
    {
      0% {-webkit-transform: rotate(5deg)}
      30% {-webkit-transform: rotate(-40deg)}
      50% {-webkit-transform:rotate(-40deg)}
      60% {-webkit-transform: rotate(5deg)}
    100% {-webkit-transform: rotate(5deg)}
  }

@-moz-keyframes nog_rock 
    {
      0% {-moz-transform: rotate(5deg)}
      30% {-moz-transform: rotate(-40deg)}
      50% {-moz-transform:rotate(-40deg)}
      60% {-moz-transform: rotate(5deg)}
    100% {-moz-transform: rotate(5deg)}
  }

#carton {
  width: 80%;
  height: auto;
  padding: 10px 10px 25px;
}

#forearm, #elbow-hand {
  animation: strum 1.5s infinite;
  transform-origin: 150px;
        -moz-animation: strum 2s infinite;
        -webkit-animation: strum 2s infinite;
        -o-animation: strum 2s infinite;
}

/* character strums */

@keyframes strum {
      0% {transform: rotate(0deg)}
      10% {transform: rotate(18deg)}
      15% {transform: rotate(0deg)}
      25% {transform: rotate(10deg)}
      50% {transform: rotate(0deg)}
    100% {transform: rotate(0deg)}
  }

@-webkit-keyframes strum {
       0% {webkit-transform: rotate(0deg)}
      10% {webkit-transform: rotate(18deg)}
      15% {webkit-transform: rotate(0deg)}
      25% {webkit-transform: rotate(10deg)}
      50% {webkit-transform: rotate(0deg)}
      100% {webkit-transform: rotate(0deg)}
    }

  @-moz-keyframes strum {
       0% {-moz-transform: rotate(0deg)}
      10% {-moz-transform: rotate(18deg)}
      15% {-moz-transform: rotate(0deg)}
      25% {-moz-transform: rotate(10deg)}
      50% {-moz-transform: rotate(0deg)}
      100% {-moz-transform: rotate(0deg)}
    }

.words {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.lyrics {
  font-size: 5.5rem;
  font-family: Berkshire Swash, Anton, sans-serif;
  padding: 50px 0px 20px 25px;
  line-height: 1;
  text-shadow: 2px 2px #796b4e;
}

.info {
  padding: 50px;
  padding-left: 25px;
  font-family: Anton, sans-serif;
  font-size: 2.25em;
  color: white;
  line-height: 1;
}

.part-2 {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to top, #A49472 50%, #FFEBB8 50%);
  background-size: 100% 200%;
  background-position: top;
  transition:all 2s ease;
}

.part-2.scrolled {
  background-position: bottom;
}

div.slide-right {
  width: 100%;
  overflow: hidden;
}

div.slide-right p {
  color: #F6304D;
  font-family: Bindweed, Anton, sans-serif;
  font-size: 20em;
  opacity: 0;
  overflow: hidden;
  transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

div.slide-right p.scrolled { 
  opacity: 1;
  animation: 3s slide-right;
  animation-timing-function: ease;
  text-align: right;
  line-height: 90%;
  padding: 35px 25px 0px;
  text-shadow: 3px 3px #FFEBB8;
}

@keyframes slide-right {
  from {
    margin-left: -100%;
    width: 100%; 
  }
  to {
    margin-left: 0;
    width: 100%;
  }
}

div.slide-up {
  height: 100px;
  overflow: hidden;
}

div.slide-up p {
  color: #FFEBB8;
  font-family: Anton, Berkshire Swash, sans-serif;
  font-size: 4.5rem;
  text-align: right;
  padding: 0px 60px 20px;
}

div.slide-up p.scrolled { 
  animation: 1.5s slide-up;
  margin-top: 0%;
  animation-timing-function: ease;
  line-height: 90%;
}

@keyframes slide-up {
  from {
    margin-top: 100%;
    height: 300%; 
  }
  to {
    margin: 0px;
    margin-top: 0%;
    height: 100%;
    padding-bottom: 10px;
  }
}

.part-3 {
  display: flex;
  flex: 1;
  flex-direction: row;
  background-image: linear-gradient(#FA6C85, #FEB6CA);
  padding: 35px 25px;
}

.founder-wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-top: 10px;
}

.founder-wrapper p {
  font-size: 1.25rem;
  color: #796B4E;
}

.founder-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding-left: 25px;
  align-self: left;
}

.founder-info h1 {
  color: white;
  font-family: Anton, sans-serif;
  font-size: 3rem;
  text-shadow: 3px 3px #796B4E;
}

.founder-info p {
  color: white;
}

.footer {
  color: #6C6046;
  background-color: #FDB4C9;
  font-family: Anton, sans-serif;
  font-size: 1.5rem;
  text-align: center;
  padding: 0px 25px 40px;
}

/* mobile */
@media (max-width: 800px) {
  .body, .flex-container-2, .part-3 {
    flex-direction: column;
  }
  
  .body {
    overscroll-behavior: none;
  }

  .small-brand-name.is-visible {
    font-size: 3em;
    text-shadow: none;
  }

  .character {
    flex: 1;  
    padding: 15px 10px;
  }

  .lyrics {
    font-size: 3.5em;
    text-align: center;
    padding-top: 25px;
  }

  .info {
    padding: 25px 0px;
    font-size: 2.25em;
    text-align: center;
  }

  div.slide-right p {
    font-size: 10em;
    text-align: center;
  }

  div.slide-up p {
    font-size: 2.5em;
  }

  .founder-info h1 {
    font-size: 2.5rem;
    text-shadow: none;
  }
}
